# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
img/*
favicons/*
favicon.ico
.htaccess
LICENSE.txt
browserconfig.xml
crossdomain.xml
teste-mapa.html
teste_facebook.html
404.html